 body{
    text-align: center;
    background-color: rgb(183, 221, 174);
    font-size: larger;
    color:rgb(63, 53, 131);
}
h2{
    font-size: xx-large;
    color: blue;
}
img
{
    width: 800px;
}

